/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 17-feb-2023, 9:49:28
    Author     : efcas
*/
.panel1{
    
  
    
   height: 753px;

       
    
}

.cabecera{
    background-color: #FFFFFF;
    width: auto;
    height: auto;
    
}

.margen{
    
    width: 95%;
    height: 100%;
}
