/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 12-feb-2023, 17:41:14
    Author     : efcas
*/
.contenedor{
    text-align: justify;
    
    
}


p{
   margin-left: auto;
    margin-right: auto; 
    text-align: justify;
}

.criterios{
    
    margin-left: 200px;
}
